@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


#root {
  /* max-width: 1280px; */
  margin: 0;
  text-align: center;
  background-color: rgba(106, 243, 168, 0.678);
}

.header{
  background-color: rgb(121, 245, 162);
  padding: 30px;
}

.addtodo{
  background-color: rgb(140, 252, 177);
  margin: 40px auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 800px;
  align-items: start;
}
 /* input css */
 .center {
  position: relative;
  padding: 30px;
  background: #b7f1c0;
  border-radius: 10px;
}

.center .inputbox {
  position: relative;
  width: 90%;
  height: 50px;
  align-items: center;
  margin-bottom: 30px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
/* .center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
} */
.center .inputbox input:focus ~ span,
.center .inputbox input:focus ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="submit"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="submit"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

 /* input css */

.showtodo{
  background-color: rgb(65, 196, 108);
  margin: 40px auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;

}



.footer{
  background-color: rgb(121, 245, 162);
  padding: 50px;
}